<div class='header'>
	<div class='navbar'>
		<ul>
			<li><div class='brand'></div></li>
			<li {% if active=='about' %} class='active' {% endif %}><a href='/{{lang}}'>About</a></li>
			<li {% if active=='features' %} class='active' {% endif %}><a href='/{{lang}}/features'>Features</a></li> 
			<li {% if active=='roadmap' %} class='active' {% endif %}><a href='/{{lang}}/roadmap'>Roadmap</a></li>
			<li {% if active=='docs' %} class='active' {% endif %}><a href='/{{lang}}/docs'>Docs</a></li>
			<li {% if active=='api' %} class='active' {% endif %}><a href='/{{lang}}/api'>Api</a></li>
			<li {% if active=='download' %} class='active' {% endif %}><a href='/{{lang}}/download'>Download</a></li>
		</ul>
	</div>

	<div class='breadcrum'>

	</div>
</div>